<a href="{% url 'product_list' %}"> Все товары </a>
{% for category in categories %}
    <a href="{% url 'product_by_category' slug=category.slug %}"> {{category.name}} </a>
{% endfor %}


{% for product in products %}
    {% if product.image %}
        <img src="{{ product.image.url }}">
    {% endif %}
    <p> {{ product.name }}  </p>
    <p> {{ product.price }} </p>
    <p> {{ product.created_at }} </p>
    <a href="{% url 'product_detail' slug=product.slug %}"> Подробнее </a>
{% endfor %}
